@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.service_container {
  font-family: "Roboto", sans-serif;
}

.service_btn {
  border-radius: 50px;
  box-shadow: 2px 4px 5px #e5f6ff;
  transition: all 0.5s;
}
